@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("../fonts/gotham-bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Rounded Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Rounded Light"),
    url("../fonts/gotham-rounded-light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Light"),
    url("../fonts/helvetica-neue-light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"),
    url("../fonts/helvetica-neue-medium.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Bold"),
    url("../fonts/helvetica-neue-bold.woff") format("woff");
}

.search-page-content {
  background-color: #f5f5f5;
}

:root {
  --color-1: #d35266;
  --color-2: #888;
  --color-3: #383838;
}
