@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("../fonts/gotham-bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Rounded Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Rounded Light"), url("../fonts/gotham-rounded-light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Light"), url("../fonts/helvetica-neue-light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"), url("../fonts/helvetica-neue-medium.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Bold"), url("../fonts/helvetica-neue-bold.woff") format("woff");
}

:root {
  --color-1: #d35266;
  --color-2: #888;
  --color-3: #383838;
}

header {
  width: 100%;
  background-color: var(--color-1);
}

html {
  min-width: 480px;
}

body {
  min-width: 480px;
}

nav {
  color: white;
  font: 14px "Gotham Bold", sans-serif;
  text-transform: uppercase;
  background-color: var(--color-3);
  height: 75px;
}

.nav-content {
  min-width: 480px;
  max-width: 1650px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links > * {
  height: 30px;
}

.nav-logo {
  min-width: 93px;
}

.nav-logo > i {
  color: var(--color-1);
}

.nav-logo > span {
  font-size: 16px;
}

.nav-element {
  color: var(--color-2);
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-element > span {
  white-space: nowrap;
  font: 16px "Gotham Rounded Light", sans-serif;
  margin-left: 5px;
}

.nav-links .nav-element:nth-child(2) {
  color: var(--color-1);
}

.nav-links .nav-element:last-child {
  color: white;
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 20px;
}

.nav-auth {
  color: var(--color-2);
  display: flex;
  align-items: center;
}

.nav-auth > span {
  margin-left: 10px;
  color: white;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nav-element > span {
    font-size: 14px;
  }

  .nav-logo > span {
    font-size: 16px;
  }

  .nav-links .nav-element:last-child {
    display: none;
  }

  .nav-auth {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav-element {
    margin-left: 30px;
  }

  .nav-element > span {
    margin-left: 10px;
  }
}

.search-section-container {
  color: white;
  min-width: 480px;
  max-width: 1650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section-heading {
  padding: 40px 0 20px 0;
  text-align: center;
}

.search-section-heading > h1 {
  font: 72px "Gotham Bold", sans-serif;
  margin-bottom: 10px;
}

.search-section-heading > h3 {
  font: 18px "Gotham Rounded Light", sans-serif;
}

.search-fields-container {
  display: flex;
  font: 22px "Helvetica Neue Medium", sans-serif;
  width: 90%;
  max-width: 1080px;
  margin-bottom: 20px;
}

.search-fields-container > * {
  height: 55px;
  color: var(--color-2);
}

.search-text-input {
  position: relative;
  text-align: center;
  flex: 1 1 auto;
  min-width: 50px;
  margin-left: 1px;
  border: 1px solid var(--color-2);
}

.search-fields-container button {
  background-color: var(--color-3);
  font-size: 16px;
  border: none;
  margin-left: 20px;
  padding: 10px 20px;
}
